.publication {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 4rem;
}

.publication-year {
  flex: 0 0 60px;
  font-weight: bold;
}

.publication-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.publication-authors {
  font-style: italic;
  margin-bottom: 0px;
}

.publication-title {
  font-weight: 600;
  font-size: 2.4rem;
}

.publication-proceedings {
  margin-top: -8px;
}

.pub-list{
  padding-top: 40px;
}

.post{
  max-width: 52%;
}

.post-subtitle {
  font-size: 3rem;
  margin-top: 10px;
  margin-bottom: 30px;
}

.project-info {
  margin-top: 30px;
  font-size: 1.6rem;
}

.project-info p {
  text-align: center;
  margin: 0;
} 

